<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>

<body>
<div id="app">
<!--  vue + thymeleaf 写法 狗看了都哭了-->
    <!--        标题-->
    <el-row style="margin-bottom: 30px">
        <el-col :span="6">
            <span style="font-size: larger">简易版机器人字典修改器</span>
        </el-col>
        <el-col :span="6">
            <el-upload
                    class="upload-demo"
                    action = "http://82.157.40.205:2060/server/openData/addJsonFile"
                    :data="constructorRequestParams()"
                    :before-upload="checkIsParamsOk"
                    :on-success="readFile">
                <el-button size="small" type="primary">上传已有的机器人文件</el-button>
                <div slot="tip" class="el-upload__tip">只能上传main.json文件</div>
            </el-upload>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="6">
            <el-input v-model="qqId" placeholder="请输入qq号或者其他凭证"></el-input>
        </el-col>
        <el-col :span="6">
            <el-select v-model="chooseTypeOptionValue" placeholder="请选择你的操作类型">
                <el-option v-for="item in editTypeOptions" :key="item.value" :label="item.label"
                           :value="item.value"></el-option>
            </el-select>
        </el-col>
        <el-col :span="6">
            <el-input v-model="activeCode" placeholder="请输入你的模组编码"></el-input>
        </el-col>
    </el-row>
<!--    分割线-->
    <el-divider></el-divider>
    <template v-if="!showItem">
    <el-row style="margin-bottom: 30px">
        <el-col :span="6">
           <el-button @click="updateAndReloadData" type="warning">更新并重载</el-button>
        </el-col>
        <el-col :span="6">
            <el-link :href="this.requestUrl + 'downLoadNewFile?'+'qqId='+this.qqId+'&type='+this.chooseTypeOptionValue + '&activeCode=' + this.activeCode">
            <el-button type="success">下载新的文件</el-button>
            </el-link>
        </el-col>
        <el-col :span="6">
            <el-button @click="newRobotFile" type="danger">新建并覆盖</el-button>
        </el-col>
    </el-row>
    <el-row >
        <el-col :span="6">
            <el-input v-model="filter.key" placeholder="筛选的key值"></el-input>
        </el-col>
        <el-col :span="6">
            <el-button type="primary" @click="changeEditType">点击切换 {{robotKetEditType}}</el-button>
        </el-col>
    </el-row>
    </template>
    <el-divider></el-divider>
    <el-row>
        <el-col :span="6">
            <el-button type="primary" @click="newRobotCommandOrItemCommand">新建一条</el-button>
        </el-col>
    </el-row>
    <el-divider></el-divider>
<!--    列表-->
    <el-row v-if="this.chooseTypeOptionValue === '1'">
        <el-table :data="robotKeyJson.robotCommand" border style="background-color: deepskyblue;margin-top: 5px;margin-bottom: 5px" max-height="300">
            <el-table-column label="指令类别" prop="activeService"></el-table-column>
            <el-table-column label="生效规则&事件名" prop="activeWordRules">
                <template slot-scope="scope">
                    <div v-if="scope.row.activeService == '通用消息'">
                     <template v-for="(singleRule,singleRuleIndex) in scope.row.activeWordRules">
                         <el-row>{{singleRule}}</el-row>
                     </template>
                    </div>
                    <div v-if="scope.row.activeService == '通用事件'">
                        <el-row><span>{{scope.row.activeKey}}</span></el-row>
                    </div>
                </template>
            </el-table-column>
            <el-table-column label="允许选项" >
                <template slot-scope="scope">
                <div v-if="scope.row.activeService == '通用事件'" v-for="(singleWord,wordIndex) in scope.row.acceptWordRules">
                    <el-row><span>{{singleWord}}</span></el-row>
                </div>
                </template>
            </el-table-column>
            <el-table-column label="前置增强器" prop="preAdvice">
                <template slot-scope="scope">
                    <template v-for="(singleAdvice,singleAdviceIndex) in scope.row.preAdvice">
                        <el-row>{{singleAdvice}}</el-row>
                    </template>
                </template>
            </el-table-column>
            <el-table-column label="返回项目" >
                <template slot-scope="scope">
                    <template v-for="(singleRule,singleRuleIndex) in scope.row.returnWordRules">
                        <el-row style="margin-bottom: 2px"><el-tag type="success" @click="showMoreMssage(singleRule)">点击查看详细返回{{singleRuleIndex+1}}</el-tag></el-row>
                    </template>
                </template>
            </el-table-column>
            <el-table-column label="操作" >
                <template slot-scope="scope">
                    <el-button type="warning" @click="editSingleRobotCommand(scope.row)">修改</el-button>
                    <el-button type="danger" @click="deleteSingleRobotCommand(scope.$index)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <el-dialog title="修改字典"  :visible.sync="robotKeyEditVisible" width="90%" :before-close="beforeRobotKeyEditClose">
    <template v-if="robotKetEditType === '字典'">
            <el-row style="margin-bottom: 30px">
                <el-col>
                    <el-card class="box-card" style="background-color: azure">
                        <div slot="header" class="clearfix">
                            <span>{{singleRobotCommand.activeService}}</span>
                            <el-button style="float: right; padding: 3px 0" @click="changeRobotCommandType" type="text">切换类型</el-button>
                        </div>
                       <el-row v-if="singleRobotCommand.activeService === '通用消息'">
                           <el-col>
                               <el-card class="box-card" style="background-color: wheat">
                                   <div slot="header" class="clearfix">
                                       <span style="color: red;font-weight: bolder">触发规则</span>
                                       <el-button style="float: right; padding: 3px 0" type="text">新增规则</el-button>
                                   </div>
                                   <div v-for="(activeRule,activeRuleIndex) in singleRobotCommand.activeWordRules">
                                       <el-row>
                                           <el-col :span="8">
                                               <span>{{activeRule}}</span>
                                           </el-col>
                                           <el-col :span="8">
                                               <el-button type="primary" @click="editActiveRule(activeRuleIndex)">修改</el-button>
                                           </el-col>
                                           <el-col :span="8">
                                               <el-button type="danger" @click="deleteActiveRule(activeRuleIndex)">删除</el-button>
                                           </el-col>
                                       </el-row>
                                       <el-divider></el-divider>
                                   </div>
                               </el-card>
                           </el-col>
                           <el-dialog  title="触发语句修改"
                                       :visible.sync="activeRuleEditVisible" append-to-body
                                       width="80%">
                                  <el-row> <el-col :span="4">
                                      触发语句:
                                  </el-col>
                                      <el-col :span="20">
                                          <el-input v-model="singleActiveRule">

                                          </el-input>
                                      </el-col></el-row>
                                      <el-row style="margin-top: 10px">
                                          <el-col :span="12" style="margin-top: 5px">
                                              可选参数(请使用触发语句 + 空格 +《爻参数》):
                                          </el-col>
                                          <el-col :span="12" style="margin-top: 5px">
                                              例如: 给海丽 《爻入参》
                                          </el-col>
                                          <el-col :span="12" style="margin-top: 5px">
                                              <el-tag >《爻入参》</el-tag>
                                          </el-col>
                                      </el-row>
                                  <span slot="footer" class="dialog-footer">
                                    <el-button @click="activeRuleEditVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="activeRuleEditVisible = false">确 定</el-button>
                                  </span>
                           </el-dialog>
                       </el-row>
                        <el-row>
                            <el-col>
                                <el-card class="box-card" style="background-color: wheat;margin-top: 30px">
                                    <div slot="header" class="clearfix">
                                        <span style="color: red;font-weight: bolder">前置增强</span>
                                        <el-button style="float: right; padding: 3px 0" @click="addNewRobotPreAdvice(1,0)" type="text">新增增强</el-button>
                                    </div>
                                    <div v-for="(preAdvice,preAdviceIndex) in singleRobotCommand.preAdvice">
                                        <el-row>
                                            <el-col :span="8">
                                                <span>{{preAdvice}}</span>
                                            </el-col>
                                            <el-col :span="8">
                                                <el-button type="primary" @click="editPreAdvice(preAdviceIndex)">修改</el-button>
                                            </el-col>
                                            <el-col :span="8">
                                                <el-button type="danger" @click="deletePreAdvice(preAdviceIndex)">删除</el-button>
                                            </el-col>
                                        </el-row>
                                        <el-divider></el-divider>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
<!--                        选项-->
                        <el-row>
                            <el-col>
                                <el-card class="box-card" style="background-color: wheat;margin-top: 30px">
                                    <div slot="header" class="clearfix">
                                        <span style="color: red;font-weight: bolder">可能返回项</span>
                                        <el-button style="float: right; padding: 3px 0" type="text">新增返回项</el-button>
                                    </div>
                                    <div v-for="(returnWordRule,returnWordRulesIndex) in singleRobotCommand.returnWordRules">
                                        <el-row>
                                            <el-col>
                                                <el-card class="box-card">
                                                    <div slot="header" class="clearfix">
                                                        <el-row>
                                                        <el-col :span="4">
                                                            <el-button type="danger">删除</el-button>
                                                        </el-col>
                                                        </el-row>
                                                    </div>
                                                    <el-row>
                                                        <el-card class="box-card" style="background-color: cornsilk">
                                                            <div slot="header" class="clearfix">
                                                                <span>筛选器</span>
                                                                <el-button style="float: right; padding: 3px 0" type="text">增加筛选器</el-button>
                                                            </div>
                                                            <div v-for="(filter,filterIndex) in returnWordRule.filter" class="text item">
                                                               <el-row style="margin-top: 5px">
                                                                   <el-col :span="8">
                                                                       <span>{{filter}}</span>
                                                                   </el-col>
                                                                   <el-col :span="8">
                                                                       <el-button type="primary">修改</el-button>
                                                                   </el-col>
                                                                   <el-col :span="8">
                                                                       <el-button type="danger">删除</el-button>
                                                                   </el-col>
                                                               </el-row>
                                                            </div>
                                                        </el-card>
                                                    </el-row>
                                                    <el-row style="margin-top: 5px">
                                                        <el-card class="box-card" style="background-color: cornsilk">
                                                            <div slot="header" class="clearfix">
                                                                <span>选择器</span>
                                                                <el-button style="float: right; padding: 3px 0" type="text">增加选择器</el-button>
                                                            </div>
                                                            <div v-for="(repeatFilter,repeatFilterIndex) in returnWordRule.repeatFilter" class="text item">
                                                                <el-row style="margin-top: 5px">
                                                                    <el-col :span="8">
                                                                        <span>{{repeatFilter}}</span>
                                                                    </el-col>
                                                                    <el-col :span="8">
                                                                        <el-button type="primary">修改</el-button>
                                                                    </el-col>
                                                                    <el-col :span="8">
                                                                        <el-button type="danger">删除</el-button>
                                                                    </el-col>
                                                                </el-row>
                                                            </div>
                                                        </el-card>
                                                    </el-row>
                                                    <el-row style="margin-top: 5px">
                                                        <el-card class="box-card" style="background-color: cornsilk">
                                                            <div slot="header" class="clearfix">
                                                                <span>增强器</span>
                                                                <el-button style="float: right; padding: 3px 0" type="text">增加增强器</el-button>
                                                            </div>
                                                            <div v-for="(advice,adviceIndex) in returnWordRule.advice" class="text item">
                                                                <el-row style="margin-top: 5px">
                                                                    <el-col :span="8">
                                                                        <span>{{advice}}</span>
                                                                    </el-col>
                                                                    <el-col :span="8">
                                                                        <el-button type="primary">修改</el-button>
                                                                    </el-col>
                                                                    <el-col :span="8">
                                                                        <el-button type="danger">删除</el-button>
                                                                    </el-col>
                                                                </el-row>
                                                            </div>
                                                        </el-card>
                                                    </el-row>
                                                    <el-row style="margin-top: 5px">
                                                    <el-card class="box-card" style="background-color: cornsilk">
                                                        <div slot="header" class="clearfix">
                                                            <span>返回语句</span>
                                                        </div>
                                                        <el-input placeholder="请输入返回语句" v-model="returnWordRule.returnMsg"></el-input>
                                                    </el-card>
                                        </el-row>
                                                </el-card>
                                            </el-col>
                                        </el-row>
                                        <el-divider></el-divider>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>

            <el-divider></el-divider>
    </template>
        <span slot="footer" class="dialog-footer">
    <el-button @click="robotKeyEditVisible = false">取 消</el-button>
    <el-button type="primary" @click="robotKeyEditVisible = false">确 定</el-button>
  </span>
        <el-dialog
                title="提示"
                :visible.sync="adviceEditVisible" append-to-body
                width="80%"
        >
          <el-row>
              <el-col :span="4">选择服务名称 </el-col> <el-col :span="20"><el-select v-model="singleAdvice.rowKey" placeholder="请选择" style="width: 100%" @change="changeAdviceData">
                <el-option
                        v-for="item in canChooseAdvice"
                        :key="item.rowKey"
                        :label="item.name + ' (' + item.params + ')'"
                        :value="item.rowKey">
                </el-option>
            </el-select> </el-col>
          </el-row>
              <template v-for="(chooseAdvice,chooseAdviceIndex) in singleAdvice.advice.params">
              <el-row style="margin-top: 5px">
                  <el-col :span="4">
                      请输入参数{{chooseAdvice}}
                  </el-col>
                  <el-col :span="20">
                      <el-input v-model="singleAdvice.params[chooseAdviceIndex]"></el-input>
                  </el-col>
              </el-row>
              </template>
            <el-row style="margin-top: 10px">
                <p>{{singleAdvice.advice.des}}</p>
            </el-row>

            <el-row style="margin-top: 10px">
                <el-col :span="4">可选参数:</el-col>
                <template v-for="(singleCanUseParam,canUserIndex) in singleRobotCommand.canUseParams">
                    <el-col :span="4">
                        <el-tag v-if="singleCanUseParam.indexOf('爻前置') === -1" @click="copyValueTo(singleCanUseParam)" type="success">{{singleCanUseParam}}</el-tag>
                    </el-col>
                </template>
            </el-row>
            <span slot="footer" class="dialog-footer">
    <el-button @click="adviceEditVisible = false">取 消</el-button>
    <el-button type="primary" @click="handleAdviceChange">确 定</el-button>
  </span>
        </el-dialog>
    </el-dialog>
    <template v-if="robotKetEditType === '图片资源'">

    </template>

<!--    第二行为设置页面-->

</div>
</body>



<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                canChooseAdvice: [
                    {
                        name:"物品消耗",
                        params:["物品名称[中文]","增减的物品数量[整数]"],
                        des:"此服务可以增减消息发送人的物品数量 插入参数 最新的好感度",
                        putParam:["好感度"],
                        rowKey:"物品消耗(1,2)"
                    },
                    {
                        name: "好感度增加",
                        params: ["增减数目[整数]"],
                        des: "此服务可以增加消息发送人与机器人的好感 插入参数 最新的好感度",
                        putParam:["好感度"],
                        rowKey:"好感度增加(1)"
                    },
                    {
                        name: "好感度随机增加",
                        params: ["最小值[整数]","最大值[整数]","影响因子[1以内的正数]"],
                        des: "此服务可以增加消息发送人与机器人的好感 会随机取最大值和最小值之间的数 影响因子越接近1 越倾向于取最大值 越接近0 倾向于取最小值 默认0.5 公平随机 插入参数 最新的好感度",
                        putParam:["好感度"],
                        rowKey:"好感度随机增加(1,2,3)"
                    },
                    {
                        name: "好感度查询",
                        params: [],
                        des: "查询机器人和消息发送人的好感度 插入参数 最新的好感度",
                        putParam:["好感度"],
                        rowKey:"好感度查询()"
                    }
                ],
                singleAdviceEditVisible: false,
                requestUrl: "http://82.157.40.205:2060/server/openData/",
                editTypeOptions : [
                    {
                        value: "1",
                        label: "机器人字典"
                    },
                    {
                        value: "2",
                        label: "物品字典"
                    }
                ],
                chooseTypeOptionValue : "1",
                qqId : "2477185748",
                activeCode: "test",
                showItem: false,
                //机器人语句修改弹窗
                robotKeyEditVisible: false,
                //前置增强服务弹窗
                adviceEditVisible: false,
                //触发语句修改弹窗
                activeRuleEditVisible:false,
                singleActiveRule: null,
                filter: {
                    key: null,
                },
                singleAdvice:{
                  rowKey: null,
                    commandIndex: null,
                    adviceIndex:null,
                    name: null,
                    params: [],
                    advice: {},
                    tempParam: null,
                    returnIndex: null,

                },
                singleRobotCommand: {

                    "activeWordRules" : [ "海丽送你 《爻入参》","海丽给你 《爻入参》","送给海丽 《爻入参》"],
                    "activeService": "通用消息",
                    "preAdvice": ["物品消耗(爻入参1,-1)","物品消耗(爻入参1,-1)","物品消耗(爻入参1,-1)","物品消耗(爻入参1,-1)"],
                    "returnWordRules" : [
                        {
                            "filter" : ["相等筛选(爻前置1.返回结果,成功)","相等筛选(爻入参1,海丽的胸针)"],
                            "repeatFilter": [],
                            "advice": ["好感度增加(-50)"],
                            "returnMsg" : "啊？竟然是这个! 《爻昵称》,如果这就是你的决定的话,我会尊重你的决定 《爻分隔》 但我还是想最后问一遍,《爻昵称》你确定吗？ 《爻事件.海丽送反定情信物》 "
                        },
                        {
                            "filter" : ["相等筛选(爻前置1.返回结果,失败)"],
                            "repeatFilter": [],
                            "advice": [],
                            "returnMsg" : "这是指 把空气送给我？《爻图片.HellyRobot.Normal_r5_c1.png》"
                        }
                    ],
                    "canUseParams":[]
                },
                robotKeyJson : {"voice":{"volume":"4F","speed":"-0.7F","voiceType":"101016L","primaryLanguage":"1L"},"assets":[],"robotCommand":[

                        {
                            "activeWordRules" : [ "海丽送你 《爻入参》","海丽给你 《爻入参》","送给海丽 《爻入参》"],
                            "activeService": "通用消息",
                            "preAdvice": ["物品消耗(爻入参1,-1)","物品消耗(爻入参1,-1)","物品消耗(爻入参1,-1)","物品消耗(爻入参1,-1)"],
                            "returnWordRules" : [
                                {
                                    "filter" : ["相等筛选(爻前置1.返回结果,成功)","相等筛选(爻入参1,海丽的胸针)"],
                                    "repeatFilter": [],
                                    "advice": ["好感度增加(-50)"],
                                    "returnMsg" : "啊？竟然是这个! 《爻昵称》,如果这就是你的决定的话,我会尊重你的决定 《爻分隔》 但我还是想最后问一遍,《爻昵称》你确定吗？ 《爻事件.海丽送反定情信物》 "
                                },
                                {
                                    "filter" : ["相等筛选(爻前置1.返回结果,失败)"],
                                    "repeatFilter": [],
                                    "advice": [],
                                    "returnMsg" : "这是指 把空气送给我？《爻图片.HellyRobot.Normal_r5_c1.png》"
                                }
                            ]
                        },
                        {
                            "acceptWordRules" : [ "我确定","我再想想"],
                            "activeKey" : "海丽送反定情信物",
                            "activeService": "通用事件",
                            "preAdvice": [],
                            "returnWordRules" : [
                                {
                                    "activeAccept" : "我确定",
                                    "filter" : [],
                                    "repeatFilter": [],
                                    "advice": ["好感度增加(-5000)"],
                                    "returnMsg" : "...... 我会尊重你的决定 我们结束了！ 《爻图片.HellyRobot.Normal_r5_c0.png》 "
                                },
                                {
                                    "activeAccept" : "我再想想",
                                    "filter" : [],
                                    "repeatFilter": [],
                                    "advice": ["好感度增加(-50)"],
                                    "returnMsg" : "下次不要再开这种玩笑了 《爻图片.HellyRobot.Normal_r2_c1.png》 "
                                }
                            ]
                        }
                    ],"activeCode":"asi"},
                robotKetEditType : "字典",
                robotItemJson : {

                }
            }
        },
        mounted(){
        },
        methods: {
            // 修改规则
            editActiveRule(index) {
                let rule = this.singleRobotCommand.activeWordRules[index]
                this.singleActiveRule = rule
                this.activeRuleEditVisible = true
            },
            //删除规则
            deleteActiveRule(index) {
              let activeRule = []
                for (let i = 0; i < this.singleRobotCommand.activeWordRules.length; i++) {
                    if (i!= index) {
                        activeRule.push(this.singleRobotCommand.activeWordRules[i])
                    }
                }
                this.singleRobotCommand.activeWordRules = activeRule
            },
            copyValueTo(text) {
                this.$message.error("复制失败 请手动复制")
            },
            //处理并且获得可能的可用参数
            handleAndGetCanUserParams (singleCommand) {
                singleCommand.canUseParams = []
                let activeKet = singleCommand.activeWordRules[0]
                if (activeKet!= null && activeKet!== "" && activeKet.indexOf("《")!= -1) {
                    let split = activeKet.match(/\《(.+?)\》/gi);
                    for (let i = 0; i < split.length; i++) {
                        singleCommand.canUseParams.push("爻入参" + (i+1))
                    }
                }
                let preArray = singleCommand.preAdvice
                if (preArray!= null && preArray.length >0) {
                    for (let i = 0; i < preArray.length; i++) {
                        let putParams = this.getThatAdviceParams(1,this.getServiceRowKey(preArray[i]))
                        if (putParams!= null && putParams.length>0) {
                            for (let j = 0; j < putParams.length; j++) {
                                singleCommand.canUseParams.push("爻前置"+(i+1)+"."+putParams[j])
                            }
                        }
                    }
                }
                let returnWordRules = singleCommand.returnWordRules
                for (let i = 0; i < returnWordRules.length; i++) {
                    returnWordRules[i].canUseParams = []
                    //前置参数有的全有
                    for (let j = 0; j < singleCommand.canUseParams.length; j++) {
                        returnWordRules[i].canUseParams[i] = singleCommand.canUseParams[j]
                    }
                    //取独特的增强器
                    let adviceArray = returnWordRules[i].advice
                    if (adviceArray!= null && adviceArray.length >0) {
                        for (let a = 0; a < adviceArray.length; a++) {
                            let putParams = this.getThatAdviceParams(1,this.getServiceRowKey(preArray[i]))
                            if (putParams!= null && putParams.length>0) {
                                for (let b = 0; b < putParams.length; b++) {
                                    returnWordRules[i].canUseParams.push("爻服务"+(b+1)+"."+putParams[b])
                                }
                            }
                        }
                    }
                }
            },
            //获取这个服务可能获得的参数列表
            getThatAdviceParams(type,rowKey) {
                if (type === 1) {
                    for (let i = 0; i < this.canChooseAdvice.length; i++) {
                       let singleChoose = this.canChooseAdvice[i]
                        if (singleChoose.rowKey === rowKey) {
                            return singleChoose.putParam
                        }
                    }
                }

                return null
            },
            getThatAdvice(type,rowKey) {
                if (type === 1) {
                    for (let i = 0; i < this.canChooseAdvice.length; i++) {
                        let singleChoose = this.canChooseAdvice[i]
                        if (singleChoose.rowKey === rowKey) {
                            return singleChoose
                        }
                    }
                }
                return null
            },
            //修改前置增强
            editPreAdvice(index) {
                this.addNewRobotPreAdvice(2,index)
            },
            //删除前置增强
            deletePreAdvice(index) {
              let tempPreAdvice = []
                for (let i = 0; i < this.singleRobotCommand.preAdvice.length; i++) {
                    if (i!= index) {
                        tempPreAdvice.push(this.singleRobotCommand.preAdvice[i])
                    }
                }
                this.singleRobotCommand.preAdvice = tempPreAdvice
                this.$message.success("删除成功")
            },

            //操作增强变更
            handleAdviceChange() {
                if (this.singleAdvice.adviceIndex === null && this.singleAdvice.returnIndex === null) {
                   let finalMsg = this.dealAndGetFinalData(1,this.singleAdvice.advice.name,this.singleAdvice.params)
                    this.singleRobotCommand.preAdvice.push(finalMsg)
                    this.adviceEditVisible = false
                    this.$message.success("添加成功")
                }
            },
            dealAndGetFinalData(type,name,params) {
                let finalMsg = ""
                //正常处理
                if (type === 1) {
                    finalMsg = finalMsg + name + "("
                    if (params.length === 0) {
                        finalMsg = finalMsg + ")"
                        return finalMsg;
                    }else {
                        for (let i = 0; i < params.length; i++) {
                            let singlePa = params[i]
                            finalMsg = finalMsg + singlePa
                            if (params.length-1 === i) {
                                finalMsg = finalMsg + ")"
                            }else {
                                finalMsg = finalMsg + ","
                            }
                        }
                        return finalMsg;
                    }
                }
            },
            changeAdviceData (value) {
                for (let i = 0; i < this.canChooseAdvice.length; i++) {
                    let singleAdvice = this.canChooseAdvice[i]
                    if (singleAdvice.rowKey === value) {
                        this.singleAdvice.advice = singleAdvice
                    }
                }
            },
            addNewRobotPreAdvice(type,index) {
                if (type === 1) {
                    let singleCommand = this.singleRobotCommand
                    this.singleAdvice = {
                        rowKey: null,
                        commandIndex: null,
                        adviceIndex:null,
                        returnIndex: null,
                        name: null,
                        params: [],
                        advice: {}
                    }
                    this.adviceEditVisible = true
                }else if (type === 2) {
                    this.singleAdvice.adviceIndex = index
                    let rowAdvice = this.singleRobotCommand.preAdvice[index]
                    let rowKey =  this.getServiceRowKey(rowAdvice)
                    console.log(rowKey)
                    this.singleAdvice.advice = this.getThatAdvice(1,rowKey)
                    this.adviceEditVisible = true
                }
            },
            getServiceRowKey (rowAdvice) {
                let split = rowAdvice.match(/\((.+?)\)/g).toString();
                split = split.substring(1, split.length - 1)
                let rowParams = split.split(",")
                if (rowParams === "" || rowParams === null) {
                    this.singleAdvice.rowKey = rowAdvice
                    this.singleAdvice.name = rowAdvice.substring(0, rowAdvice.indexOf("("))
                    return rowKey
                } else {
                    this.singleAdvice.name = rowAdvice.substring(0, rowAdvice.indexOf("("))
                    let rowKey = this.singleAdvice.name
                    rowKey = rowKey + "("
                    for (let i = 0; i < rowParams.length; i++) {
                        this.singleAdvice.params[i] = rowParams[i]
                        if (rowParams.length - 1 === i) {
                            rowKey = rowKey + (i + 1) + ")"
                        } else {
                            rowKey = rowKey + (i + 1) + ","
                        }
                    }
                    this.singleAdvice.rowKey = rowKey
                    return rowKey;
                }
            },
            //切换机器人指令类型
            changeRobotCommandType() {
               if (this.singleRobotCommand.activeService === "通用消息") {
                   this.singleRobotCommand.activeService = "通用事件"
               }else {
                   this.singleRobotCommand.activeService = "通用消息"
               }
            },
            //新建机器人物品指令
            newRobotCommandOrItemCommand() {
                if (this.chooseTypeOptionValue === "1") {
                    this.singleRobotCommand = {
                        "activeWordRules" : [],
                        "activeService": "通用消息",
                        "preAdvice": [],
                        "acceptWordRules" : [],
                        "activeKey": "",
                        "returnWordRules" : [
                            {
                                "filter" : [],
                                "repeatFilter": [],
                                "advice": [],
                                "returnMsg" : "",
                                "activeAccept" : "",
                            }
                        ]
                    }
                    this.robotKeyEditVisible = true
                }else if (this.chooseTypeOptionValue === "2") {
                    this.item
                }
            },

            downloadFile() {

            },
            //组装请求参数
            constructorRequestParams () {
                let that = this
                if (!this.checkIsParamsOk()) {
                    return
                }
                let params = {}
                params.qqId = that.qqId
                params.type = that.chooseTypeOptionValue
                params.resCode = that.activeCode
                return params;

            },
            //更新重载
            updateAndReloadData() {
                if (!this.checkIsParamsOk()) {
                    return
                }
                let that = this
                let params = that.robotKeyJson
                params.qqId = that.qqId
                params.type = that.chooseTypeOptionValue
                params.resCode = that.activeCode
                $.ajax({
                    type: 'POST',
                    url: that.requestUrl + "updateJsonFile",
                    dataType: "json",
                    contentType:'application/json;charset=utf-8',
                    data: JSON.stringify(that.robotKeyJson),
                    success: function (res) {
                        if (res.code === 200) {
                            if (params.type === "1") {
                                that.robotKeyJson
                            }else {
                                this.robotItemJson = res.data
                            }
                        }
                    },
                });
            },
            //更新机器人指令网络请求
            updateRobotCommandData() {
                if (!this.checkIsParamsOk()) {
                    return
                }
                let that = this
                let params = that.robotKeyJson
                params.qqId = that.qqId
                params.type = that.chooseTypeOptionValue
                params.resCode = that.activeCode
                $.ajax({
                    type: 'POST',
                    url: that.requestUrl + "updateJsonFile",
                    dataType: "json",
                    contentType:'application/json;charset=utf-8',
                    data: JSON.stringify(that.robotKeyJson),
                    success: function (res) {
                        if (res.code === 200) {
                            that.$message.success("成功")
                            that.robotKeyJson = JSON.parse(res.data.json)
                        }
                    },
                });
            },
            //删除一个机器人指令
            deleteSingleRobotCommand(index) {
                console.log(index)
                let that = this
                this.$confirm('此操作将永久删除该文件, 是否继续?' , "警告", {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let robotJsonCommands = []
                    for (let i = 0; i < that.robotKeyJson.robotCommand.length; i++) {
                        if (i!== index) {
                            robotJsonCommands.push(that.robotKeyJson.robotCommand[i])
                        }
                    }
                    that.robotKeyJson.robotCommand = robotJsonCommands
                    that.updateRobotCommandData()
                    that.$message.success("成功")
                }).catch((error) => {
                  console.log(error)
                });
            },
            //打开编辑机器人指令窗口
            editSingleRobotCommand(row) {
              this.singleRobotCommand = row
                this.handleAndGetCanUserParams(this.singleRobotCommand)
                this.robotKeyEditVisible = true
            },
            //表格里查看返回详情
            showMoreMssage(singleRule) {
                this.$alert('<p>增强器: '+ singleRule.advice +'</p>'
                    + '<p>筛选器: '+ singleRule.filter +'</p>'
                    + '<p>选择器: '+ singleRule.repeatFilter +'</p>'
                    + '<p>返回语句: '+ singleRule.returnMsg +'</p>'
                    , '详细内容', {
                    confirmButtonText: '确定',
                    dangerouslyUseHTMLString: true,
                    callback: action => {
                    }
                });
            },
            //关闭修改液
            beforeRobotKeyEditClose() {
                this.robotKeyEditVisible = false
            },
            //没啥用
            changeEditType: function () {
              if (this.robotKetEditType === "字典") {
                  this.robotKetEditType = "图片资源"
              }else {
                  this.robotKetEditType = "字典"
              }
            },
            //三要素参数是否完整
            checkIsParamsOk: function () {
                  if (this.qqId === null ||this.activeCode === null || this.chooseTypeOptionValue == null) {
                      this.$message.error('qq号或凭证 模组编码 操作类型 必填');
                      return false;
                  }else {
                      return true;
                  }
            },
            //上传文件
            readFile: function (response,file,fileList) {
                console.log("处理读取文件事件")
                if (response.code === 200) {
                    if (this.chooseTypeOptionValue === "1") {
                        this.robotKeyJson = JSON.parse(response.data.json)
                        this.activeCode = response.data.resCode
                    }else if (this.chooseTypeOptionValue === "2") {
                        this.robotItemJson = JSON.parse(response.data.json)
                        console.log(this.robotItemJson)
                        this.activeCode = response.data.resCode
                    }
                }
            },
            reloadFile() {
                 console.log("处理读取文件事件")
            },
            //新建文件并覆盖
            newRobotFileAction() {
                let that = this
                if (that.qqId == null || that.chooseTypeOptionValue == null || that.activeCode == null) {
                    this.$message({
                        message: 'qq号 字典类型 模组编码必填',
                        type: 'warning'
                    });
                    return;
                }
                $.ajax({
                    url: that.requestUrl + "newJsonFile" + "?" + "qqId=" + that.qqId +  "&type=" + that.chooseTypeOptionValue + "&activeCode=" +that.activeCode,
                    dataType: "json",
                    type: "get",
                    success: function(result) {  //这里就是我出错的地方
                        that.$message.success(result.message)
                        if (result.data.type === "1") {
                            that.robotKeyJson =  JSON.parse(result.data.json)
                        }else if (result.data.type === "2") {
                            that.robotItemJson = JSON.parse(result.data.json)
                        }
                    },
                    error: function(data) {
                        that.$message.error(data)
                    }
                });
            },
            newRobotFile () {
                this.$alert('新建操作将会删除现在的文件，是否确定?', '警告', {
                    confirmButtonText: '确定',
                    callback: action => {
                        if (action === 'confirm') {
                            this.newRobotFileAction()
                        }
                    }
                });
            }
        }
    })
</script>

</html>